body {
    font-family: Arial, Verdana, , sans-serif;
    color: #c3e6c5;
}

table {
    width: 600px;
}

th,
td {
    padding: 7px 10px 10px 10px;
}

th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #efefef;
    border-top: 1px solid#13b61b;
    text-align: left;
}

tr.even {
    background-color: #111111;
}

tr:hover {
    background: color #999;
}

.money {
    text-align: right;
}